@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #040924;

    display: grid;
    place-items: center;

    height: 100vh;
}

main{
    background-color: white;

    padding: 48px 64px 64px;
    
    display: flex;
    flex-direction: column;

    border-radius: 16px;
    box-shadow: 2px 3px 10px black;
}

h1{
    margin-bottom: 32px;

    color: #14728f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
}

span{
    color: rgb(158, 158, 158);
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper label{
    margin-bottom: 8px;
}

.input-wrapper input{
    width: 268px;
    height: 50px;

    padding: 16px;
    margin-bottom: 16px ;

    border-radius: 8px;
    border: 1px solid #02799D;
    background-color: #DCE2E9;

    font-family: 'Roboto';
}

button{
    margin-top: 16px;

    padding: 16px;
    background-color: #02799D;

    border-radius: 8px;
    border: none;

    color: white;
    font-family: 'Roboto';
}

button:hover{
    background-color: #439eb9;

    transform: scale(1.05);
    cursor: pointer;
}
