@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mulish:wght@400;600&display=swap');


:root{
    --destaque-color: #89C5CC;
}

*{
    margin: 0px;
    padding: 0px;
}

.page{
    border: 1px solid red;
    width: 1200px;
    margin: 65px auto 0;

}