@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title-color: #E1E1E6;

    font-size: 62.5%;
}

body{ 
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;

    background-image: url(./assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

nav{
    padding: 4rem 7.2rem 4rem;
}

ul{
    display: flex;
    list-style: none;
    gap: 4.2rem;

    align-items: center;

    color: var(--title-color);
}

ul li{
    font-size: 2.4rem;
}
