@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root{
    --font-color: #ff9900;
}

header{
    margin-top: 150px;

    display: flex;
    justify-content: center;
}

header img{
    width: 470px;
}


main{
    margin-top: 100px;
    text-align: center;
}

main h1{
    font-size: 3.5em;
}

section{
    margin-top: 32px;
    text-align: center;
}

.p2{
    margin-top: 32px;
    margin-bottom: 42px;
}

.line{
    margin: auto;
    width: 500px;
    border: 1px solid #b6b6b654;
}


footer{
    margin-top: 20px;

    display: flex;
    justify-content: center;
}

footer a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}