@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap');

:root{
    --backg-color1: #F9F4FB;
    --backg-color-cards: linear-gradient(134deg, #343193 0%, #302C63 100%);
    --bigfonts-color: #B52184;
    --smallfonts-color: #312D64;

    font-family: 'Mulish', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color: var(--backg-color1 );
}

.cards{
    background-image: var(--backg-color-cards);
}

.email{
    background-color: var(--backg-color1);
}

footer{
    background-image: var(--backg-color-cards);
}

footer p{
    text-align: center;
    color: white;

    padding: 32px 16px;
}