@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap');

:root{
    --backg-color1: #F9F4FB;
    --backg-color-cards: linear-gradient(134deg, #343193 0%, #302C63 100%);
    --bigfonts-color: #B52184;
    --smallfonts-color: #312D64;

    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--backg-color1);
}

.astronaut{
    width: 36.4rem;
    height: 37rem;
}

header{
    background-color: var(--backg-color1 );

    display: flex;
    flex-direction: column;
    align-items: center; 
}

header h1{
    color: var(--bigfonts-color);
    font-weight: 900;

    margin-top: 1.7rem;
    font-size: 3.2rem;
}

header p{
    font-size: 1.8rem;
    color: var(--smallfonts-color);
}

header a{
    margin-top: 3.5rem;
    margin-bottom: 6.5rem;
}

.cards{
    background-image: var(--backg-color-cards);

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5.0rem;
    padding: 5rem 0 5rem 0;
}

.card{

    background-color: white;
    width: 36rem;
    
    padding: 2.6rem;

    border-radius: 2rem;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.253);
}

.card h3{
    font-size: 2.4rem;
    font-weight: 900;
    color: var(--bigfonts-color);

    
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

.card p{
    font-size: 1.6rem;
}

.email{
    background-color: var(--backg-color1);

    padding: 7rem 4.6rem;
}

.email h2{
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--bigfonts-color);

    margin-bottom: 4rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;

    gap: 2.4rem;
}

.input-wrapper input{
    height: 4.8rem;
    
    border-radius: 1.6rem;
    border: 1.8px  solid #312D64;

    background-color: var(--backg-color1);

    padding: 1.2rem 1.4rem;
}

.input-wrapper textarea{
    border-radius: 1.6rem;
    border: 1.5px solid #312D64;

    background-color: var(--backg-color1);
    padding: 1.2rem 1.6rem;

    height: 12rem;
}

.button{
    padding: 1.6rem;
    border-radius: 1.6rem;
    background-image: var(--backg-color-cards);

    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'Mulish',sans-serif;
    
    margin-top: 2.4rem;
}

::placeholder{
    color: #312D64;
    font-family: 'Mulish';
    font-weight: 700;

    font-size: 1.6rem;
}



footer{

    background-image: var(--backg-color-cards);
}

footer p{
    text-align: center;
    color: white;

    padding: 32px 16px;
    font-size: 1.8rem;
}