@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: black;
    font-family: 'Roboto';
    color: white;

    font-size: 1.6rem;
}

#app{
    max-width: 800px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 5rem 0 8.7rem;
}

.input-wrapper{
    display: flex;
    gap: 10px;

}

.input-wrapper input{
    width: 400px;

    padding: 1.4rem;
    border-radius: 5px;
    background: #06181C;
    color: white;

    border: none;

    font-family: 'Roboto';
}

.input-wrapper button{
    border-radius: 5px;
    background: #065E7C;
    padding: 1.2rem 3.2rem;
    border: none;

    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table *{
    font-size: 1.6 rem;
}

table th{
    background-color: #092D38;
    padding: 1.6rem 3.2rem;

    text-align: left;
}

table th:first-child{
    border-top-left-radius: .8rem
}

table th:last-child{
    border-top-right-radius: .8rem;
}

table tr:nth-child(odd){
    background: rgba(6, 22, 27, 0.50);
}

table tr:nth-child(even){
    background: #06181C;
}

table td{
    padding: 1.5rem;
    text-align: left;
}

td.user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 999999rem;
}

.remove{
    text-align: center;
    font-size: 1.6rem;

    background: none;
    border: none;

    color: #F75A68;
    cursor: pointer;
}