@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --backg-header: #121214;
    --backg-body: #D9D9D9;
    --backg-button: #04D361;
    --fontp-color: #42D3FF;
    --font-title: 'Archivo', sans-serif;
    --font-label: 'Poppins', sans-serif;
}

body{
    font-family: var(--font-label);
    background-color: var(--backg-body);
}

body::before{
    content: '';

    width: 100%;
    height: 368px;

    background-color: var(--backg-header);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page{
    width: 736px;
    margin: 0 auto;
}

header{
    width: 319px;
    margin-top: 74px;
}

header h1{
    font-family: var(--font-title);
    font-weight: bold;
    color: white;

    margin-bottom: 24px;
}

header p{
    color: var(--fontp-color);
}

form{
    margin-top: 38px;
    background-color: white;
    border-radius: 8px 8px 0 0;

    min-height: 300px;

    padding: 50px;
}


fieldset{
    border: none;
}

fieldset legend{
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    border-bottom: 1px solid #E6E6F0;

    padding-bottom: 16px;
    margin-bottom: 20px;
}

span{
    color: #C1BCCC;
}

fieldset input{
    width: 608px;
    height: 56px;

    border-radius: 8px;
    border: 1px solid #E6E6F0;
    margin-bottom: 24px;
    margin-top: 8px;

    box-sizing: border-box;

    padding: 0 15px;

    font-family: var(--font-label);
    font-size: 16px;
}

input:invalid{
    border: 1px solid rgb(207, 22, 22);
}

fieldset textarea{
    width: 608px;
    height: 168px;

    border-radius: 8px;
    border: 1px solid #E6E6F0;

    margin-top: 8px;
    margin-bottom: 24px;

    padding: 10px 15px;

    font-family: var(--font-label);
}

fieldset select{
    width: 608px;
    height: 56px;

    border-radius: 8px;
    border: 1px solid #E6E6F0;

    margin-top: 8px;
    margin-bottom: 48px;

    font-family: var(--font-label);

    padding: 0 15px;

    appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
}

fieldset select option{
    font-family: var(--font-label);
}

.checkbox{
    display: flex;
    align-items: flex-start;
    
}

.checkbox label{
    margin: 8px;
}

#private{
    width: 24px;
    height: 24px;
}

.col{
    display: flex;
    flex-direction: column;
}

#date{
    width: 312px;
}

#begin{
    width: 128px;
}

#end{
    width: 128px;
}

.date{
    padding-top: 28px;
}

footer{
    width: 736px;
    height: 136px;
    background-color: #F0F0F4;
    display: flex;

    border-radius: 0 0 8px 8px;

    margin-bottom: 80px;

    border-top: 1px solid #D6D6D6;
}

footer input{

    width: 608px;
    height: 56px;
    
    border-radius: 8px;
    border: 1px solid #E6E6F0;

    background-color: var(--backg-button);
    color: white;
    cursor: pointer;

    font-family: var(--font-title);
    font-size: 18px;
    text-align: center;

    margin: auto;
}

footer input:hover{
    background-color: #149b51;
    transform: scale(1.02);
}
