@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish';

}

:root{
    --backg-color: #e9e9e9;
    --formbackg-color: #EEE;
}

body{
    background-color: var(--backg-color);
}


header{
    
    background-color: #FFF;

    display: flex;
    gap: 75px;

    padding: 16px 112px;

    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;

    gap: 75px;
}

ul li{
    font-size: 18px;

    align-content: center;
}


main{
    display: grid;
    grid-template-columns: repeat(3, 390px);
    gap: 23px;

    place-content: center;

    margin-top: 64px;
    margin-bottom: 176px;
}

.card{
    
    
    background-color: #FFF;
    border-radius: 8px;

    height: 288px;

    overflow: hidden;
}

.card h2{
    font-size: 18px;

    padding: 22px 22px 12px 22px;
}

.card p{
    padding: 0 22px 22px 22px;

    font-size: 13px;

    

}

.input-wrapper input{
    width: 686px;
    height: 48px;

    background-color: #EEE;
    border-radius: 5px;
    border: none;

    padding: 16px;

    font-size: 16px;
}

footer{
    font-size: 20px;
    
    margin-top: 64px;
    background-color: #FFF;

    text-align: center;
    padding: 30px;

    
}



