@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --backg-body: #F4FCFF;
    --backg-headerfooter: #065E7C;
    --input-color: rgba(255, 255, 255, 0.20);
    
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--backg-body);
}


#app{
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

header{
    display: flex;
    gap: 3.2rem;
    align-items: center;
    
    padding: 1.2rem 2.8rem;
    background-color: var(--backg-headerfooter);
}

header form{
    flex: 1;
}

.input-wrapper input{
    width: 100%;
    padding: 1.4rem;
    background-color: var(--input-color);
    
    border: none;
    border-radius: .6rem;
    
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;

    color: white;
}

::placeholder{
    color: white;
}

section h1{
    padding: 3.2rem 2.4rem .8rem;
    font-weight: 700;
}

.thumb{
    display: flex;
    padding: .8rem 2.2rem;
    gap: 1.2rem;
    
}

section p{
    padding: 2.4rem 2.4rem 1rem;
    font-size: 1.6rem;
    line-height: 160%;
}


footer{
    background-color: var(--backg-headerfooter);
}

footer p{
    padding: 16px;
    text-align: center;
    color: white;
}

.item img{
        width: 100%;
}

aside h2{
    padding: 3.2rem 2.4rem .8rem;
    font-size: 2.4rem;
}

.articles{
    display: flex;

    padding: 2.6rem;

    gap: 1.6rem;

    align-items: center;
}