@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
--yellow: #ffcc29;
--blue: #1d539e;
--gray: #828799;
--page-background: #f9fbfc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}